* {
  padding: 0;
  margin: 0;
}
#homePage {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: url('home.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
#highestScore,
#startGame,
#modeChoose,
#gameDescription {
  width: 300px;
  padding: 20px 0;
  margin: 20px auto;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
#highestScore {
  padding: 60px 0 60px 0;
  cursor: auto;
}
.title {
  width: 100%;
  padding: 36px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
#helpPage {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: #7fe8fb;
  cursor: pointer;
}
.description {
  padding: 14px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.center {
  text-align: center;
}
#modePage {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: #7fe8fb;
}
#difficult,
#medium,
#simple {
  width: 300px;
  padding: 20px 0;
  margin: 36px auto;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
#gamePage {
  display: none;
  width: 100vw;
  height: 100vh;
}
